@import "~simplebar-react/dist/simplebar.min.css";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&family=Sansita+Swashed:wght@800&display=swap");

.simplebar-content-wrapper {
  scroll-snap-type: x mandatory;
}

.simplebar-scrollbar::before {
  background-color: #50e3c2;
}

.clamp-lines__button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}

.toast {
  background-color: #50e3c2 !important;
  color: #212121 !important;
  font-weight: 500;
}

.scroll-nudge-toast {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.select-dropdown {
  font-family: "Roboto Slab", serif !important;
}

.select-wrapper {
  min-width: 125px !important;
  width: 125px !important;
}

input {
  font-family: "Roboto Slab", serif !important;
}

.dropdown .item {
  font-family: "Roboto Slab", serif !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-wrapper {
  padding: 10px 20px;
}

.menu-button {
  display: block !important;
}

.menu-button.disabled {
  opacity: 0.6;
  cursor: not-allowed !important;
}

.email-text {
  display: inline-block;
  max-width: 15rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu {
  position: absolute;
  top: 20px;
  right: 0;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.button-link {
  margin: 10px 30px;
}

.logo {
  position: absolute;
  top: 33px;
  left: 20px;
}

.title {
  display: inline-block;
  font-family: "Sansita Swashed", sans-serif;
  font-size: 1.7rem;
  font-weight: 800;
  margin-top: 25px;
  margin-bottom: 20px;
  border-bottom: 5px solid #79ffe1;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.feed-wrapper {
  display: flex;
}

.feed-wrapper .feed-item {
  box-sizing: border-box;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 15px;
  scroll-snap-align: start;
}

.card h4,
.card p,
.card small,
.card b,
.card span {
  font-family: "Roboto Slab", serif !important;
}

.card h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

.feed-header-wrapper {
  padding: 21px !important;
  display: flex;
}

.feed-header-wrapper h4 {
  margin-bottom: 0;
  margin-right: 15px;
}

.list-wrapper {
  overflow-x: hidden;
}

.list-wrapper .content {
  padding: 16pt 8pt !important;
}

.list-wrapper .list-item {
  display: flex;
}

.list-item .description {
  font-family: "Roboto Slab", serif !important;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  color: #212121;
}

.list-item.dark .description {
  color: #e0e0e0;
}

.list-item a:hover,
.saved-list-item a:hover {
  text-decoration: underline !important;
  text-decoration-color: #9e9e9e !important;
}

.list-item .badge-wrapper {
  width: 45px;
  margin-right: 15px;
  text-align: right;
}

.list-item .link-content {
  width: calc(100% - 90px);
}

.list-item .bookmark-wrapper {
  width: 30px;
  min-height: 26px;
  text-align: right;
  padding-right: 5px;
}

.list-item .bookmark-wrapper a {
  color: inherit !important;
}

.list-item .badge-wrapper a:visited span {
  background-color: #757575;
}

.list-item a:visited small {
  color: #757575;
}

.list-item .bookmark-wrapper a:visited svg {
  color: #757575 !important;
}

.list-item.dark .badge-wrapper a:visited span {
  background-color: #9e9e9e;
}

.list-item.dark a:visited small {
  color: #9e9e9e;
}

.list-item.dark .bookmark-wrapper a:visited svg {
  color: #9e9e9e !important;
}

.bookmark-wrapper .loading {
  align-items: flex-start !important;
  margin-top: 8px;
  margin-left: 5px;
}

.footer-spacer {
  display: none !important;
}

.about-modal footer a {
  color: inherit;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.about-modal small a {
  color: inherit;
  text-decoration: underline;
}

.remove-text-transform {
  text-transform: none !important;
}

#feed-drawer {
  min-width: 312px;
}

#feed-drawer .content,
#saved-drawer .content {
  overflow: auto;
  padding-top: 10px;
}

#feed-drawer h3,
#saved-drawer h3 {
  font-family: "Roboto Slab", serif !important;
  padding-top: 8px;
  padding-bottom: 15px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.manage-feed-item-wrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 0;
  margin: 15px 0;
  border-radius: 6px;
  border: 1px solid transparent;
  min-width: 270px;
}

.manage-feed-item-wrapper .sortable-handle {
  cursor: grab;
  opacity: 0.6;
  padding: 10px;
  padding-left: 15px;
}

#sortable-list {
  position: relative;
}

.sortable-ghost {
  opacity: 0;
}

.manage-feed-input {
  display: flex;
  flex-direction: column;
}

.manage-feed-input > div {
  margin: 3px 0 !important;
}

.manage-feed-delete {
  cursor: pointer;
  padding: 10px;
  padding-right: 5px;
}

.manage-feed-add {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 15px 0;
  border-radius: 6px;
  border: 1px solid transparent;
  min-width: 270px;
  cursor: pointer;
}

.saved-wrapper {
  width: 270px;
}

.saved-wrapper .saved-list-item {
  display: flex;
  justify-content: space-between;
}

.saved-wrapper .saved-link-content a {
  color: inherit !important;
  font-size: 14px;
}

.saved-wrapper .saved-link-content .discussion-link {
  vertical-align: text-top;
  margin-left: 8px;
}

.saved-wrapper .delete-saved-item {
  margin-left: 5px;
  cursor: pointer;
}

.saved-wrapper .delete-saved-loader {
  margin-top: 5px !important;
}

@media (min-width: 900px) {
  .footer-spacer {
    display: block !important;
  }

  .feed-wrapper {
    flex-wrap: wrap;
  }

  .feed-wrapper .feed-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1280px) {
  .feed-wrapper {
    flex-wrap: wrap;
  }

  .feed-wrapper .feed-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
